@import 'tailwindcss';

@theme {
  --color-darkHover: #2a004a;
  --color-lightHover: #fcf4ff;
  --color-darkTheme: #11001f;

  --font-Outfit: 'Outfit, sans-serif';
  --font-Ovo: 'Ovo, serif';

  /* 👇 Custom shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: var(--grid-auto);
  }
}

* {
  font-family: var(--font-Outfit);
}
